.header {
    margin-bottom: 1rem;
}

.title {
    margin: 0;
    font-weight: 500;
    font-size: 1.375rem;
    line-height: 127%;
    color: rgba(0, 0, 0, 0.85);
}

.total {
    font-weight: 400;
    font-size: 1.125rem;
    color: var(--gray);
}